@use 'sass:map';

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin respond-up($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin respond-down($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: ($value - 1px)) {
      @content;
    }
  }
}
