@use './variables' as *;
@use './breakpoints' as *;

body {
  color: $color-text;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text;
  font-family: $font-family-heading;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  font-size: 2.25rem;

  @include respond-up(md) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.875rem;

  @include respond-up(md) {
    font-size: 2.5rem;
  }
}

p {
  color: $color-muted;
}
